<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменение пароля - Greatest Diary</title>
</head>
<body>
<form method="post" th:action="@{/profile/{name}/password(name=${authenticatedUser.getName()})}">
    <div>
        <label for="oldPassword">Старый пароль</label>
        <input id="oldPassword" type="password" name="oldPassword">
    </div>

    <div>
        <label for="newPassword">Новый пароль</label>
        <input id="newPassword" type="password" name="newPassword">
    </div>

    <div>
        <label for="confirmPassword">Подтверждение пароля</label>
        <input id="confirmPassword" type="password" name="confirmPassword">
    </div>

    <div>
        <input id="csrfToken" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
        <button type="submit">Изменить пароль</button>
    </div>
</form>
</body>
</html>