<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание цели - Greatest Diary</title>
</head>
<body>
<form method="post" action="/target/create" th:object="${targetForm}">
    <div th:if="${error}">
        <ul>
            <li th:each="err : ${error}" th:text="${err.defaultMessage}"></li>
        </ul>
    </div>

    <div>
        <label for="description">Наименование</label>
        <input id="description" type="text" th:field="*{title}"/>
    </div>

    <div>
        <label for="date">Описание</label>
        <input id="date" type="text" th:field="*{description}"/>
    </div>

    <div>
        <label for="location">Приоритет (от 1 до 10)</label>
        <input id="location" type="text" th:field="*{priority}"/>
    </div>

    <div>
        <input id="csrfToken" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
        <button type="submit">Создать цель</button>
    </div>
</form>
</body>
</html>