<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация — Greatest Diary</title>
</head>
<body>
<form method="post" action="/login">
    <div>
        <label for="username">Имя</label>
        <input id="username" type="text" name="username"/>
    </div>

    <div>
        <label for="password">Пароль</label>
        <input id="password" type="password" name="password"/>
    </div>

    <div>
        <input id="csrfToken" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
        <button type="submit">Войти</button>
    </div>
</form>
<div>
    <a href="/registration">Регистрирация</a>
</div>
</body>
</html>